/*@import url(https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic|Roboto+Slab:400,700|Droid+Sans+Mono:400,700);*/
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

/***** Font face *****/

@font-face {
    font-family: "MyFont";
    unicode-range: U+4E00-9FFF;
    src: local("STHeiTi");
}
@font-face {
    font-family: "MyFont";
    unicode-range: U+00-024F;
    /*src: local("Classic Grotesque Pro");*/
    src: local("Roboto Condensed");
}
@font-face {
    font-family: "MyFont";
    unicode-range: U+3040-30FF;
    src: local("Osaka");
}

@font-face {
    font-family: "MyFontBold";
    unicode-range: U+4E00-9FFF;
    src: local("STHeiTi");
}
@font-face {
    font-family: "MyFontBold";
    unicode-range: U+00-024F;
    /*src: local("Classic Grotesque Pro Medium");*/
    src: local("RobotoCondensed-Bold");
}
@font-face {
    font-family: "MyFontBold";
    unicode-range: U+3040-30FF;
    src: local("Osaka");
}

@font-face {
    font-family: "MyFontHead";
    unicode-range: U+4E00-9FFF;
    src: local("STHeiTi");
}
@font-face {
    font-family: "MyFontHead";
    unicode-range: U+00-024F;
    /*src: local("Classic Grotesque Pro Bold");*/
    src: local("RobotoCondensed-Bold");
}
@font-face {
    font-family: "MyFontHead";
    unicode-range: U+3040-30FF;
    src: local("Osaka");
}

@font-face {
    font-family: "MyFontSrc";
    unicode-range: U+4E00-9FFF;
    src: local("STHeiTi");
}
@font-face {
    font-family: "MyFontSrc";
    unicode-range: U+00-024F;
    /*src: local("Fira Code Retina");*/
    src: local("PragmataPro");
}
@font-face {
    font-family: "MyFontSrc";
    unicode-range: U+3040-30FF;
    src: local("Osaka");
}