*{
    border: 0;
    margin: 0;
    padding: 0;
}
a{
    color: rgb(132, 156, 168);
    text-decoration: none;
    -webkit-transition-duration:450ms;
}
a:hover{
    color: rgb(67, 73, 77);    
}
p{
    margin-bottom: 1em;
}
ul{
    margin: 0.5em 0;
}
header,footer{
    display: block;
}
html{
    height: 100%;
    width: 100%;
}
body{
    height: 90%;
    background: rgb(248,249,252);
    font-size: 13px;
    color: rgb(100,100,100);
    font-family: "Lucida Grande", "Helvetica Neue", "Helvetica", sans-serif;
    text-shadow: rgb(255,255,255) 0px 1px 0px;
}
#wrapper{
    width: 720px;
    margin: 40px auto;
}
header{
    margin: 1.2em 0;
    padding-left: 16px;
}
footer{
    margin-top: 2.5em;
    font-size: 0.8em;
    color: rgb(132,132,132);
}

h1,
h1 a{
    font-size: 1em;
}
h1{
    font-weight: normal;
    color:rgb(180,182,185);
}
h1 a{
    font-weight: 600;
    color:rgb(150,152,155);
}
ul{
    list-style: none;

}
li{
    font-size: 1em;
    line-height: 1.2em;
    display: block;
    height: 26px;
    padding-top: 10px;
    padding-left: 16px;
    border-bottom: 1px solid rgb(235,238,240);
    box-shadow:rga(255,255,255) 0 1px 0;
    -webkit-transition-duration:200ms;
    background: rgb(248, 249, 252);
}
li.file:hover,
li.folder:hover{
    background: rgb(160, 170, 177);
    border-bottom: 1px solid rgb(255,255,255);
}
li:last-child{
    border-bottom: 0;
    box-shadow:none;
}
li span{
    display: block;
    float: left;
    text-shadow:none;
}
li span.name{
    width: 400px;
    overflow: hidden;
}
li span.size em{
    font-size: 1em;
    color: rgb(150,150,160);
    font-style: normal;
    text-shadow:none;
    margin-left: 2px;
}
li.folder span.size,
li.file span.size{
    margin-left: -22px;
}
li span.time{
    float: right;
    width: 120px;
    color: rgb(122, 144, 158);
    text-align: center;
}
li.file span.time{
    margin-right: 10px;
}
li a{
    color: rgb(132, 156, 168);
    text-shadow:none;
}
li a:hover{
    color: rgb(54, 176, 221);
}
li:hover a{
    color: rgb(255,255,255);
}
li:hover span.size em,
li:hover span.size{
    color: rgb(245,245,245);
}
li:hover span.time{
    color: rgb(230, 235, 240);
}
li.header span.size,
li.header span.time,
li.header{
    color: rgb(90,90,90);
    font-size: 1em;
    text-transform: uppercase;
}
li.header a:hover,
li.header:hover a{
    color: rgb(132, 156, 168);
}
li.footer{
    xtext-align: center;
    color: rgb(150,155,160);
    font-size: 1em;
    margin-top: 3px;
}
li span,
li span em,
li span a{
    -webkit-transition-duration:100ms;
}

/* Filetype Icons */
li.file,
li.folder,
li.file:hover,
li.folder:hover{
    background-repeat:no-repeat;
    background-position: 16px 9px;
    text-indent: 22px;    
}
li.folder{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQ1JREFUeNqkU7sNwjAQ9QWTICSE6KhSUbFBWIIdKGmpGAKJCWACCmr6MAEVFVRIDHHYZ599siNRxJKV58T3PucYEFH1GYXqOfThdLXP1szGugEA+sDOzPpu8MpjJffsNmtyQMW8gYcgagxGO5FYAT1/yxEaqZjiLlKHXZ3mNRUyEAWkCSo8mQO9ChEsFzXKfKmDLkeP50sFAj0onDIUniQ5HC8fGigIHYHWnWpBMc0h+kSV1VCHzjC77Ad2EHEUbZnKUqtENrebYo5gN1Xl0OmBlwv6sQCyoxY9GI+qLPe/O8ImbITPbDqZZ9lFZnm8EH+2L0fYni+3o8F1GtG5gNiC2Ni3qdvT+77X+SfAAEvqkZolhaOxAAAAAElFTkSuQmCC);
}
li.file:hover,
li.folder:hover{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFpJREFUeNpi/P//PwMlgImBQjC4DZgGxGwETQAFIg4MAseAWAKPGoIGgMBzILakxAAQ+AnEadjUkRKIzOSEAcwLNuR64SQQS5MbiHOAmA2fZhBmHM0LDAABBgCGVDSYjuNH3wAAAABJRU5ErkJggg==);
}

li.type-image{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATlJREFUeNqkkq9OA0EQxmcv9SjeBIOpgoSkAk9SU1RrEAieAoPBIRCEBNUnQKNI06cgadImFQdULL/Z27mbPVB0cnP77Tfzzc7+CTFG2ccq2dMG+rt9mEftJIQgNpr9xRu+npyHgSVChN9iaed9scK2A1ckWpIX9YQpZDmVT+CrgTWJycH3Os/ckPEEbe2LV2WrcUuhLUD9FXyVMbx8p4OSFJfoD9F1uskHtoKdgHfgF/hT8COcxjZJ4wu4t7DGd/gM9kPTEL4TX8BdlodbdBB8gTuYpTWJ+Ij4FPiJXzRFe+/A3fWacQwc53YRyAH+ZAt4cdFB3obu7xl/Y/rV8LqqHBI/Zjzr3oMr4LahtzACj3Rqe22Kt7eUcoszcHbjV/DtNrh8pUUBveO+uFut3HjXkXuS/7UfAQYA17qzFYKU5M8AAAAASUVORK5CYII=);
}
li.type-audio{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATlJREFUeNqkUztOxEAMtaPUcAyKFRKHiERJyQHoqUB0LIug5AqcAVr6lejY6+wOk+G9jCfjBKhiyfHE9nv+TKIpJVkijSyUlo+X1/d7mE1xsitVlfo+PEdf7lrXN1cXj63lELz5a5xKphMi+IkZCSgP0C30FskB9oCkPS2UNpiSpivdtLUlITOOKSA2gPF+DPcJdAU9hf8MWde/duDmTTj7yp/JlpDbZm7dyUjg5u2RuHckmFw+gNplcrnLBS3iR2AFaJ9nF5IEi13i3M0Kpcl34EYgAcASuAuLFfDaYGkoZJjGX5cRGFjfZjf6DcyX5UT1S3Qd8RB4G7BH8O9cd08EwxfhiwViS9TSUW98uGd5dptPtuDI6swrvE0tPEpXggWcARlsi46T72C23PPStvsd/hVd+jv/CDAAQ1ayAGK49EIAAAAASUVORK5CYII=);
}
li.type-text{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANVJREFUeNpi/P//PwMlgAXG6J238RjQMEtGRka4JMhwZD4SOFWc5G+OYgAQgDTbI2tGNgTNsIMYLoACd5hCdJcQ9AIUVBFwOoYcugGMEOdiCKK44j8ShwXVdDCJ1XaYGLocCzaFQIPOgNSBDERTbwKzBKcBUNeZALViDQOIgTjDAO78aYjoQ3FFFsKrWAxA8l8Wws9ILgP7C9VbLDiiKBg1EUEtYGBYy8CImi6wugCoYC1qYvqPZgHudIAS79ii7j8DXi+A5FGTMrJByPkCbhml2RkgwAA9i3GQGmDgoAAAAABJRU5ErkJggg==);
}
li.type-document{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAN9JREFUeNqkU9sNwjAM9EX9YgfESuzABEiMwQRIDMEQ/WAh/pBxHm7skBSkRkovTezL+dyCmWnLmHRxvT8YIIp8ivKUiYSQzXiZ4uV0hCMACoBmwbPgS15l0juT0E4O94IHwZvmhUYRa0lrpdmjliBJKKshyRJiCWKwTOgNMQg2cjCMAixEmpdJ/yQoN3Ilygp+iQitOTWBu6YNCYp0WDOLL6sqgk8g18JcQi2p1xWnQMX23NeutMZOtgv5E2YakaixQxOVxZbjFX4bahREabGN6ZpnK8B64fa3/s4fAQYA6oRv8KuGWCkAAAAASUVORK5CYII=);
}
li.type-script{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASJJREFUeNqkkz1uAkEMhceIjiZ3yQ24QLgATWo6ipSIgiJI4QgcAZEbcBzo6CKxu0w+z8wiY+2GSIxk+T3/jcfySIwxPHOkLfC1/U5AuYg8TJy/v6WggTWSLJKzJRcPBkerb2doktX/2nakdbSUUtuQ727oHE2+wM4lhr/G5J/QUAeRMXSduais4Wpr8iWxuwCBNWpEwAy9VA6uC1bbCKntMwauo4qEBQEb9Ek5uEKf4Bv0Qm09Q0zDwilXbbMk2kPrAV+seoaYZnAh8QO6Rw7wc2n3hYg5cIK+dA6xLJBWP4JX6E+Cq9IyOK6wH3ufUG5qnTuCd2ZY0xb7TXWLFOpSzu3CPxZJk3QHLHc70vlH7obI+fHBZcUT7yoiz37nXwEGAMvvnKrrNA13AAAAAElFTkSuQmCC);
}
li.type-generic{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAMlJREFUeNqkU90RwiAMTu7YyEHcwRWcwxXcwem8k3IRaALhE+pDeQF64ftLyiJCZ1aww+P5akgGysztjuf77coDgC4+YtuBa4n8KNCCSykwtoaa7yurAQpTByv3vo+WFgCZJVlRfUyzxzIoDCMjb0NBPmucqkbWFlRuNL9lxyy8komCKiEu2+fCnFqoMok+2NWm5p+CwuEtmG8cjaUC/Rh9Jr6ds8eTNtKGueEsHA5SXglbZax+97ZgEum9B9dZMXkcaz77O38FGAA+6npWbXDqiwAAAABJRU5ErkJggg==);
}
li.type-app{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYJJREFUeNqkkz1LA0EQhm+OEwx30UbBKiA22ohgYW0rRBEsInYBG0UsBH+FQkCwtLNT0B8gFqKgpZWFIEQCtqKVzfnMfiTjWWbgvZmdj3d3ZvekLMtkGMn0c3x2vQpRR0Smde1JRa2QJonIoIj4G7mHB+21izT4TnBsERAFBYj7OKFESs/oEHJP+ydAGuCHwKLfwZ+C9Tb6Edezc4ZjYGrupCWI8h0OmYhPXqJqCv0QWwjERSxIbbUGzVDHMZ/wroCJ6FRiO/Y0HjkER1AO+HbJncP3CTajXyFVAjPhmoKCGXwb2B1wxala6DF0DeJaYu4n+9tCkqNuzfoyzoPi+7DZMupLqjPwvZc6nH3sHnqd5CbFTSVFvwS7sG2ng2I3gwK0sc7xjYbkgrCeatbfiieIbWf9yXqOOngHr/jqhvyDrCP0Auj+e8qRkWRmIDfYebjv+B5Uetoa69y8KU9AgB2SeXBn77vSniEryZWubWEn/EyN6sOyZEa0eM/Fhv2dfwUYAOqyo2jA4ZjtAAAAAElFTkSuQmCC);
}
li.type-archive{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAStJREFUeNpi/P//PwMlgAVE9MzduIWRkcEbZBgjkIEOYOIgu2DSQLGDJckBDmADQJpBFEwxMgBphBmKZvZ/uAugIBqmkBhvwdSyIDnxPZI0im3IXkP3JgvMNKD4C5g4iEZXCHEUZhghe+EsNqeiGoQakGgG/G+EhiNSqGOLlf9AcbAX69Fd8AXdRmxRii7GhMR+D8aQwARjoFlA/P8bEEcA+b+AGER/BvLfYwuDNwywxMDAgBTvjAVADcZAhirQQD6gG98DXTEFxQVQZ78FUm+BXDAGisHYtdBY8gYZCGQ3QuVQoxEIPqJ7GWrwJahrDkP5h4FcPVhag3nhBRBrAfEF9MACatJAT9JAYACUeYScErOAkhOATDnkhAN1MraYeASUzwWzKc3OAAEGAI7dlKvJHLpmAAAAAElFTkSuQmCC);
}
li.type-video{
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAORJREFUeNqkU8ERwjAMszlm6Jsh2IMdWIE5WIEdWKPHEN2hr76MndpUDk0+zfUuTqPIsuKwiNCRcY7g+XoXJiNkZqrjejzuN04EPhTPRnTxRSLSeSoAkP0jsF+GKTHRwG3VgqqSAiXWHVYAjZh5O1DmfQUMe/pd4yD6oNOnq2BNYR7I3DG+5UHJJK5kcU9CdqqUQMEJ7E/owNS3WHyC3vlT4PGw1r8RgKGy20igwABjIzt1+kCAna91J/qNtG/BAeyAea+NA4NlJAXAvkR3RlHA1fdA1hSTncwNuD0WJOGjz/krwABwfIjPbdfMqQAAAABJRU5ErkJggg==);
}
